<div class="bodycart">
<h1>Carrito de compras</h1>
{{#if products.length}}
<ul>
    {{#each products}}
    <li>
        <h2>{{name}}</h2>
        <img src="{{thumbnail}}" alt="{{name}} thumbnail" class="cartimg">
        <p>{{description}}</p>
        <p>Precio por unidad: ${{price}}</p>
        <p>Categoría: {{category}}</p>
        <p>Cantidad: {{quantity}}</p>
    </li>
    
    <form action="/api/cart/{{../idCart}}/delete-product/{{_id}}" method="POST">
        <input type="hidden" name="_method" value="DELETE" >
        <button type="submit">Eliminar unidad</button>
    </form>
    {{/each}}

    {{!-- <form action="/api/cart/{{../user.cart}}/products/{{_id}}" method="post">
        <input type="hidden" name="_method" value="post">
        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
    </form> --}}
</ul>

<form action="/api/cart/{{idCart}}/purchase" method="POST">
    <button type="submit">Finalizar Compra</button>
</form>

{{else}}
<p>No hay productos en el carrito</p>
{{/if}}
</div>

