<h2>Home</h2>
<h3>Lista de productos ingresados:</h3>

{{#each products}}

<p> ID: {{_id}} - TITLE: {{name}} - DESCRIPTION: {{description}} - PRICE: {{price}} - ESTADO: {{status}}  - STOCK:{{stock}}</p>

{{/each}}