
{{#if user}}
<p>Bienvenido/a {{user.username}}!</p>
{{#if isAdmin}}
<p>Sos admin!!!</p>
{{/if}}
{{/if}}


<form action="/logout" method="post">
    <input type="submit" value="Logout" class="submit"/>
</form>


{{#each products}}
<h1>{{name}}</h1>
<img src="{{thumbnail}}" alt="product thumbnail">
<p>{{description}}</p>
<p>Precio: ${{price}}</p>
<p>Categoría: {{category}}</p>
<p>Stock disponible: {{stock}}</p>


<form action="/api/cart/64429f7a2c10b8d38d7903d5/products/{{_id}}" method="post">
    <input type="hidden" name="_method" value="post">
    <button type="submit">Agregar al carrito</button>
</form>

{{/each}}