<h2>Real time products</h2>

<form id="form">
    <input type="text" id="input">
    <button type="submit">Submit</button>
</form>

<div id="output"><p>Producto Agregado: {{data}}</p></div>


{{#each products}}

<p> ID: {{id}} - TITLE: {{title}} - DESCRIPTION: {{description}} - PRICE: {{price}} - ESTADO: {{status}} - CODIGO:
    {{code}} - STOCK:{{stock}} </p>

{{/each}}



<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>
